<h1 id="laboration---plan-pendel">Laboration - Plan Pendel</h1>
<p>Läroboken finns inscannad i denna mapp.</p>
<p>Se labbok för instruktioner.</p>
<h2 id="lägga-in-i-grupplistor">Lägga in i grupplistor</h2>
<p>Första labben, anmäl er i grupper motsvarande hur ni har fördelat er, på liveatlund.</p>
<h2 id="syfte">Syfte</h2>
<p>Syftet med laborationen är inte att utveckla en perfekt kunskap i mekanik, dvs tillräcklig för att härleda relationer. Istället är det meningen att lära sig hur en experimentalist arbetar. Utveckla en metod för att systematiskt undersöka beroenden. Därefter komma fram med en modell som representerar fenomenet. Slutligen, ska resultatet av experimentet presenteras i form av en rapport. Detta lika viktigt som att lära sig att utföra experimentet.</p>
<h2 id="execution">Execution</h2>
<p>Pos A, l = 29 cm: m = 50 g, theta = 20 -&gt; t = 3.29, 3.24, 3.15 = 1.07 s</p>
<p>Pos A, l = 29 cm: m = 100 g, theta = 20 -&gt; t = 3.15, 3.35, 3.35 = 1.10 s</p>
<p>Pos A, l = 29 cm: m = 50 g, theta = 10 -&gt; t = 2.96, 3.11, 3.23 = 1.10 s</p>
<p>Pos B, l = 40 cm: m = 50 g, theta = 20 -&gt; t = 3.88, 3.75, 3.69 = 1.25 s</p>
<p>Pos C, l = 83 cm: m = 50 g, theta = 20 -&gt; t = 5.38, 5.65, 5.40 = 1.8 s</p>
<p>Pos D, l = 131 cm: m = 50 g, theta = 20 -&gt; t = 6.51, 6.82, 6.82 = 2.2 s</p>
<p>Ansats: <span class="math inline"><em>t</em> = <em>k</em><em>x</em></span>.</p>
<p>Två punkter (A &amp; B): 1.1 = k<em>29+m, 1.25 = k</em>40+m -&gt;</p>
<p>k = (1.25-1.1)/(40-29) = 0.014 &amp; m = 0.69.</p>
<p><span class="math inline"><em>t</em> = 1</span> -&gt; x = (1 - 0.69)/0.014 = 22 cm</p>
<h2 id="redovisning-av-resultat">Redovisning av resultat</h2>
<ul>
<li>Noggrannt utförande, gärna med bild av uppställningen.</li>
<li>Logiska resonemang kring osäkerheter. Vilka resultat kan vi inte skilja från varandra.</li>
<li>Tabeller, diagram, konstruera modell. Om ni hittar något beroende kan detta modelleras i diagram.</li>
<li>Jämför med litteraturvärden. Dvs kursboken.</li>
</ul>
<h2 id="konceptuella-förklaringar">Konceptuella förklaringar</h2>
<ul>
<li>Massan: Högre massa accelereras mer i nedåtrörelse men samtidigt så bromsas den mer i uppåtrörelsen.</li>
<li>Vinkeln: Större vinkel möjliggör längre acceleration i nedåtrörelse och därmed större hastighet. Även om pendeln rör sig en längre sträcka så färdas den med en större medehastighet.</li>
<li>Längden: Ju större längd på pendeln desto större cirkelsektor som pendeln måste röra sig.</li>
</ul>
<h2 id="härledning-rörelseekvation-och-periodtid">Härledning rörelseekvation och periodtid</h2>
<p>At wikipedia derivations are presented on the basis of force equations, torque equations and energy balance: <a href="https://en.wikipedia.org/wiki/Pendulum_(mathematics)" class="uri">https://en.wikipedia.org/wiki/Pendulum_(mathematics)</a>.</p>
<p>The course book uses the torque equation: <span class="math inline"><em>τ</em> = −<em>m</em><em>g</em><em>l</em>sin(<em>θ</em>)</span> and compares it to Hooke's law: <span class="math inline"><em>F</em> = <em>k</em><em>x</em></span>, which if set in motion assumes an harmonic motion with <span class="math inline"><em>f</em> = (1/2<em>π</em>)(<em>k</em>/<em>m</em>)<sup>1/2</sup></span>.</p>
<p>Substitution of <span class="math inline"><em>k</em></span> and <span class="math inline"><em>m</em> = <em>m</em><em>I</em><sup>2</sup></span>, where <span class="math inline"><em>I</em></span> is the moment of inertia (for a rotational rigid body (stelkropp)).</p>
<p>For the simple pendulum: <span class="math inline"><em>I</em> = <em>m</em><em>r</em><sup>2</sup></span>, where r is the distance from the pivot point = l.</p>
<p>Hence: <span class="math inline"><em>ω</em> = 2<em>π</em><em>f</em> = (<em>g</em>/<em>l</em>)<sup>1/2</sup></span>.</p>
<p>Recall: <span class="math inline"><em>f</em> = 1/<em>T</em></span>.</p>
<p>-&gt; <span class="math inline"><em>T</em> = 2<em>π</em> * (<em>l</em>/<em>g</em>)<sup>1/2</sup></span></p>
<p>T = 1 s. -&gt; <span class="math inline"><em>l</em> = <em>T</em><sup>2</sup><em>g</em>/4<em>π</em><sup>2</sup> = 0.248<em>m</em></span></p>
